// background color
$background_color: #070014;

// main text color
$main_text_color: #828282;

// hover text color
$hover_text_color: #f4f0fa;

// input box colors
$input_box_color: #19181b;

$darker_box_color: #0e0e0f;
