@use "../abstracts" as *;

.movie-details {
  @include flex(row, center, flex-end);

  @include media("<=tablet") {
    @include flex(row, center, flex-start);
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    z-index: -1;

    @include media("<=phoneL") {
      top: 10vh;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(180deg, #070014, transparent 250px);

      @include media("<=phoneL") {
        background-image: linear-gradient(180deg, #070014, transparent 130px);
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(0deg, #070014, transparent 450px);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__play {
    width: 100%;
    height: 40em;
    position: absolute;
    top: 10em;
    left: 0;
    color: $link_text_color;
    @include flex(row, center, center);
    cursor: pointer;
    z-index: 0;

    @include media("<=tablet") {
      height: 30em;
    }

    @include media("<=phoneL") {
      height: 20em;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 6em;
      height: 6em;
      border-radius: 50%;
      background: $background_color;
    }

    &--trailer {
      width: 1150px;
      height: 100%;
      margin: auto;
      padding: 2em;
      background: $background_color;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: relative;
    }
  }

  &__container {
    background: $background_color;
    max-width: 1150px;
    @include flex(row, null, null);
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 40em;
    padding: 2em;
    border-radius: 20px;

    @include media("<=tablet") {
      margin-top: 30em;
      width: 100%;
    }

    @include media("<=phoneL") {
      margin-top: 20em;
    }

    .col-1 {
      flex: 0 0 35em;

      @include media("<=tablet") {
        display: none;
      }

      .poster {
        img {
          width: 100%;
        }
      }
    }

    .col-2 {
      flex: 1;
      padding: 1em;

      .details {
        &__header {
          // border: 1px solid white;
          @include flex(column, space-between, flex-start);

          &--title {
            width: 100%;
            @include flex(row, space-between, center);

            h4 {
              color: $title_text_color;
              @include flex(row, space-between, center);
              margin-right: 1em;

              @include media("<phoneL") {
                font-size: 1.6rem;
              }

              @include media("<phoneM") {
                font-size: 1.4rem;
              }
            }

            h5 {
              font-weight: 600;
              color: $title_text_color;
              @include flex(row, center, center);

              span > * {
                font-weight: 600;
                color: $link_text_color;
                margin-left: 5px;
              }
            }
          }

          &--subtitle {
            @include flex(row, center, center);
            padding: 0.5em 0 0 0.5em;

            h6 {
              font-weight: 500;
              color: $link_text_color;
            }

            h6:nth-child(2)::before {
              display: inline-block;
              margin: 0 0.8rem;
              content: "";
              line-height: 0.5rem;
              padding: 1.5px;
              border-radius: 50%;
              vertical-align: middle;
              background-color: $link_text_color;
            }

            h6:nth-child(2)::after {
              display: inline-block;
              margin: 0 0.8rem;
              content: "";
              line-height: 0.5rem;
              padding: 1.5px;
              border-radius: 50%;
              vertical-align: middle;
              background-color: $link_text_color;
            }
          }
        }

        &__line-separator {
          border: none;
          width: 70%;
          height: 0.5px;
          background: #828282;
          margin: 2em 0;
          position: relative;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        &__main {
          &--directors,
          &--genres,
          &--cast,
          &--description {
            width: 100%;
            margin-bottom: 2em;

            h5 {
              color: $title_text_color;
              letter-spacing: 0.5px;
              line-height: 1.5em;
            }

            p {
              color: $link_text_color;
              font-weight: 500;
            }
          }

          &--genres {
            .wrapper {
              @include flex(row, flex-start, center);
              flex-wrap: wrap;
            }
          }

          &--cast {
            .wrapper {
              height: 4em;
              overflow: hidden;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                z-index: 1;
                background-image: linear-gradient(
                  0deg,
                  #070014,
                  transparent 25px
                );
              }

              &.active {
                height: 100%;

                &::after {
                  background-image: none;
                }
              }
            }

            span {
              position: relative;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
    }
  }
}

.title-loader {
  min-width: 60em;

  @include media("<=SMdesktop") {
    min-width: 35em;
  }

  @include media("<=tablet") {
    min-width: 100%;
  }
}

.subtitle-loader {
  min-width: 20em;

  @include media("<=SMdesktop") {
    min-width: 15em;
  }

  @include media("<=phoneM") {
    min-width: 10em;
  }
}
