/**
*
* Testing
*
**/
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 20px;
  transition: width 0.5s ease;
  position: absolute;
  top: 50%;
  right: 40em;
  transform: translateY(-50%);
  z-index: 5000;
}
.searchbar:hover {
  width: 60em;
}
@media (max-width: 1024px) {
  .searchbar {
    right: 5em;
  }
}
@media (max-width: 768px) {
  .searchbar {
    display: none;
  }
}
@media (max-width: 426px) {
  .searchbar {
    pointer-events: none;
  }
}
.searchbar__icon {
  flex: 1 1 2em;
}
.searchbar input {
  visibility: hidden;
  flex: 0 1 50em;
  border: none;
  background: transparent;
  color: #828282;
  width: 92%;
  height: 100%;
  border-radius: 20px;
  outline-style: none;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 0;
  padding: 0.5em;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .searchbar input {
    font-size: 1.2rem;
  }
}
@media (max-width: 426px) {
  .searchbar input {
    pointer-events: none;
  }
}
.searchbar .fas {
  color: #828282;
  padding: 0.5em;
  font-size: 20px;
  font-weight: 600;
}
.searchbar .fa-times {
  cursor: pointer;
}

.navbar {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar__left {
  flex: 0.5;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar__left--logo {
  width: 8.2rem;
  height: 100%;
  padding-top: 0.5em;
}
@media (max-width: 426px) {
  .navbar__left--logo {
    width: 5.2rem;
  }
}
.navbar__left--logo img {
  width: 100%;
  height: 100%;
}
.navbar__right {
  flex: 0 1 40em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .navbar__right {
    flex: 0;
  }
}
@media (max-width: 767px) {
  .navbar__right {
    flex: 0;
  }
}
.navbar__right--navbar {
  flex: 1;
  display: block;
}
@media (max-width: 1024px) {
  .navbar__right--navbar {
    display: none;
  }
}
.navbar__right--navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.navbar__right--navbar ul li {
  list-style: none;
}
.navbar__right--navbar ul li a {
  text-decoration: none;
  color: #828282;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.navbar__right .search-icon {
  font-size: clamp(2.4em, 5vw, 3em);
  margin-right: 0.5em;
  cursor: pointer;
  color: #f4f0fa;
}
@media (min-width: 769px) {
  .navbar__right .search-icon {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.burger {
  cursor: pointer;
  color: #f4f0fa;
}
@media (min-width: 1025px) {
  .burger {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: -1000px;
  background: #070014;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: block;
  transition: right 0.5s ease;
  padding: 0 2em 2em;
}
@media (min-width: 1025px) {
  .menu {
    display: none;
  }
}
.menu ul {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu ul li {
  list-style: none;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu ul li a {
  text-decoration: none;
  color: #828282;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1em;
  transform: translateX(0px);
  transition: transform 0.3s ease;
}
.menu ul li a:hover {
  transform: translateX(10px);
}
.menu.active {
  right: 0;
  transition: right 0.5s ease;
  z-index: 6000;
}

.search-window {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 4em;
  background: #070014;
  width: 100%;
  min-height: 20em;
  padding: 0 2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 5000;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .search-window {
    min-height: 100vh;
    border-radius: 0;
    margin-top: 3em;
    top: 10vh;
  }
}
.search-window__top-line {
  width: 70%;
  margin: auto;
  border: 0.5px solid #828282;
}
.search-window__header {
  padding: 2em;
  background: inherit;
}
.search-window__header h2 {
  text-align: center;
  font-size: 2rem;
  color: #a0a0a0;
  letter-spacing: 0.5px;
}
.search-window__wrapper {
  width: 100%;
  max-height: 45em;
  padding: 1em;
  overflow-y: scroll;
}
.search-window__wrapper::-webkit-scrollbar {
  background-color: inherit;
  width: 5px;
}
.search-window__wrapper::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 3px;
}
.search-window__content {
  width: 100%;
  background: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.1s ease;
  border-radius: 10px;
}
.search-window__content:hover {
  background: #0e0e0f;
}
.search-window__content--poster {
  height: 10em;
  flex: 0 0 8em;
}
.search-window__content--poster img {
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}
.search-window__content--details {
  width: 100%;
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1em;
  padding-top: 1em;
}
.search-window__content--details span {
  font-size: 14px;
  margin-bottom: 0.5em;
}
.search-window__content--details .title {
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.search-window__content--details .release-date {
  color: #828282;
  font-size: 14px;
}

.search-overlay {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.error-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 425px) {
  .error-message {
    text-align: center;
  }
}
.error-message span {
  color: white;
  font-size: 16px;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5000;
}
.carousel .alice-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
@media (max-width: 1024px) {
  .carousel .alice-carousel__wrapper {
    height: 100vh;
  }
}
@media (max-width: 426px) {
  .carousel .alice-carousel__wrapper {
    height: 60vh;
    width: 100vw;
  }
}
.carousel .alice-carousel::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(180deg, #070014, transparent 250px);
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards {
  background: #070014;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  position: relative;
}
.cards__wrapper {
  padding: 2em 4em;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 2em;
}
@media (max-width: 426px) {
  .cards__wrapper {
    grid-template-columns: repeat(2, minmax(10em, 1fr));
  }
}
.cards .top-left {
  position: absolute;
  top: -5em;
  left: 0;
  width: 5em;
  height: 5em;
  background: #070014;
  mask-image: radial-gradient(circle at 5em 0em, transparent 5em, #000 0);
  object-fit: cover;
}
.cards .top-right {
  position: absolute;
  top: -5em;
  right: 0;
  width: 5em;
  height: 5em;
  background: #070014;
  mask-image: radial-gradient(circle at 0em 0em, transparent 5em, #000 0);
  object-fit: cover;
}
.cards .loadMore-btn {
  border: none;
  width: 10em;
  padding: 1em 0.5em;
  font-size: 1.6rem;
  border-radius: 10px;
  background: linear-gradient(180deg, #aab2ff, #eca0ff);
  margin-top: 1.5em;
  cursor: pointer;
}

.card {
  position: relative;
  min-width: 10em;
  max-height: 31em;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}
@media not all and (pointer: coarse) {
  .card:hover .card__title {
    top: 0;
  }
  .card:hover .card__rating {
    bottom: 0;
  }
}
@media (max-width: 426px) {
  .card {
    height: 21em;
  }
}
@media (max-width: 320px) {
  .card {
    height: 18em;
  }
}
.card__title {
  background: rgba(0, 0, 0, 0.5);
  min-height: 4em;
  padding: 1em;
  text-align: center;
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  cursor: auto;
  transition: top 0.5s ease;
}
.card__title h6 {
  color: white;
  font-weight: 600;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__rating {
  background: rgba(0, 0, 0, 0.5);
  min-height: 3em;
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: -250px;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: bottom 0.5s ease;
  cursor: auto;
}
@supports not (backdrop-filter: blur(10px)) {
  .card__rating {
    background: rgba(7, 0, 20, 0.8);
  }
}
.card__rating h6 {
  font-weight: 500;
  color: white;
}
.card__rating .rating-stars {
  font-size: 1.4rem;
  background: linear-gradient(90deg, #aab3ff77, #eca0ff77);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.card__rating .rating-stars i {
  padding-right: 1rem;
}
.card__rating .rating-stars--inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #aab2ff, #eca0ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.card__rating .rating-stars--inner i {
  padding-right: 1rem;
}

.genres {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  left: 0;
  top: -7em;
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #070014;
  z-index: 4000;
}
.genres.open {
  transform: translateY(-75px);
}
@media (max-width: 768px) {
  .genres.open {
    transform: translateY(-120px);
  }
}
@media (max-width: 426px) {
  .genres.open {
    transform: translateY(-250px);
  }
}
.genres.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.genres__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 1em;
  width: 100%;
  overflow: hidden;
  height: 2em;
}
@media (max-width: 1024px) {
  .genres__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }
}
@media (max-width: 426px) {
  .genres__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  }
}
@media (max-width: 319px) {
  .genres__wrapper {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.genres__wrapper.active {
  height: 100%;
}
.genres__genre {
  cursor: pointer;
  color: #828282;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 2em;
  text-align: center;
  text-decoration: none;
}
.genres__genre h5 {
  font-weight: 500;
}
.genres .fas {
  font-size: 2rem;
  background: linear-gradient(180deg, #aab2ff, #eca0ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 1rem 0 0 0;
  cursor: pointer;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -5000;
}
@media (max-width: 768px) {
  .hero {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.hero__wrapper {
  max-width: 60em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .hero__wrapper {
    margin-top: 10vh;
  }
}
.hero__wrapper h1 {
  background: linear-gradient(180deg, #aab2ff, #eca0ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  opacity: 0;
  transition: opacity 1s ease 1.5s;
}
.hero__wrapper h1.active {
  opacity: 1;
}
.hero__wrapper h2 {
  color: #f4f0fa;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.hero__wrapper .from-left {
  position: relative;
  top: 0;
  left: -10000px;
  margin-right: 2rem;
}
.hero__wrapper .from-top {
  position: relative;
  top: -10000px;
}
.hero__wrapper .from-right {
  position: relative;
  top: 0;
  right: -10000px;
  margin-left: 2rem;
}

.scroll-up {
  position: fixed;
  bottom: 80px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5000;
  border: none;
  background: linear-gradient(180deg, #aab2ff, #eca0ff);
}
.scroll-up .fa {
  font-size: 2rem;
  color: #070014;
}
.scroll-up:hover {
  background: linear-gradient(180deg, #aab2ff, #eca0ff);
}

.mobile-searchbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 20vh;
  z-index: 6000;
  display: none;
}
.mobile-searchbar.active {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #070014;
}
.mobile-searchbar .searchbar__icon {
  color: #828282;
  flex: 0;
}
.mobile-searchbar .searchbar__icon .fa-search {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}
.mobile-searchbar .input {
  width: 15em;
  border: none;
  background: inherit;
  padding: 1em;
  color: white;
  outline: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}
.mobile-searchbar .fa-times {
  color: #828282;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.close-icon {
  display: none;
  position: fixed;
  top: 15px;
  right: 20px;
  background: linear-gradient(180deg, #aab2ff, #eca0ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}
.close-icon .fa-times {
  font-size: 2rem;
}
.close-icon.active {
  display: block;
}

.discover-menu {
  border-radius: 10px;
}
.discover-menu ul {
  height: 12em;
}
.discover-menu li {
  list-style: none;
}
.discover-menu__links {
  text-decoration: none;
  color: #828282;
  letter-spacing: 0;
}
.discover-menu.mobile {
  width: 100%;
  padding: 0 1em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.discover-menu.mobile li {
  padding: 0;
  cursor: pointer;
}
.discover-menu.mobile .discover-menu__links {
  font-size: 1.4rem;
  font-weight: 500;
}
.discover-menu.desktop {
  position: absolute;
  top: 0;
  right: 8em;
  background: #070014;
  padding: 1em 2em 1em 2em;
  width: 15em;
  margin-top: 5em;
  z-index: 5000;
}
.discover-menu.desktop ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.discover-menu.desktop li {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease;
}
.discover-menu.desktop li:hover {
  transform: translateX(10px);
}
.discover-menu.desktop .discover-menu__links {
  font-size: 1.5rem;
}

.close-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px 5px 0;
  cursor: pointer;
}

.cardsHeader {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em 0 2em 0;
}
.cardsHeader hr {
  border: none;
  min-width: 40%;
  height: 0.5px;
  background: #828282;
}
@media (max-width: 425px) {
  .cardsHeader hr {
    min-width: 30%;
  }
}
.cardsHeader__title {
  color: #a0a0a0;
  margin: 0 1em;
  text-align: center;
}

.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .movie-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.movie-details__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: -1;
}
.movie-details__backdrop::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(180deg, #070014, transparent 250px);
}
.movie-details__backdrop::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(0deg, #070014, transparent 250px);
}
.movie-details__backdrop img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.movie-details__container {
  background: #070014;
  max-width: 1150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 40em;
  padding: 2em;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .movie-details__container {
    margin-top: 20em;
    width: 100%;
  }
}
@media (max-width: 426px) {
  .movie-details__container {
    margin-top: 10em;
  }
}
.movie-details__container .col-1 {
  flex: 0 0 35em;
}
@media (max-width: 768px) {
  .movie-details__container .col-1 {
    display: none;
  }
}
.movie-details__container .col-1 .poster img {
  width: 100%;
}
.movie-details__container .col-2 {
  flex: 1;
  padding: 1em;
}
.movie-details__container .col-2 .details__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.movie-details__container .col-2 .details__header--title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.movie-details__container .col-2 .details__header--title h3 {
  color: #a0a0a0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.movie-details__container .col-2 .details__header--title h4 {
  font-weight: 600;
  color: #a0a0a0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.movie-details__container .col-2 .details__header--title h4 span > * {
  font-weight: 500;
  color: #828282;
}
.movie-details__container .col-2 .details__header--subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0 0 0.5em;
}
.movie-details__container .col-2 .details__header--subtitle h6 {
  font-weight: 500;
  color: #828282;
}
.movie-details__container .col-2 .details__header--subtitle h6:nth-child(2)::before {
  display: inline-block;
  margin: 0 0.8rem;
  content: "";
  line-height: 0.5rem;
  padding: 1.5px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #828282;
}
.movie-details__container .col-2 .details__header--subtitle h6:nth-child(2)::after {
  display: inline-block;
  margin: 0 0.8rem;
  content: "";
  line-height: 0.5rem;
  padding: 1.5px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #828282;
}

.title-loader {
  min-width: 60em;
}
@media (max-width: 1024px) {
  .title-loader {
    min-width: 35em;
  }
}
@media (max-width: 768px) {
  .title-loader {
    min-width: 100%;
  }
}

.subtitle-loader {
  min-width: 20em;
}
@media (max-width: 1024px) {
  .subtitle-loader {
    min-width: 15em;
  }
}
@media (max-width: 375px) {
  .subtitle-loader {
    min-width: 10em;
  }
}

header {
  background: transparent;
  padding: 0em 2em;
  transition: all 0.5s ease;
  z-index: 5000;
}

main {
  overflow-x: hidden;
}

h1,
h2,
h5,
h6,
a,
p,
title {
  font-family: "Montserrat", sans-serif;
}

h4,
h3 {
  font-family: "Montserrat", sans-serif;
  color: auto;
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: clamp(4rem, 10vw, 10rem);
}

h2 {
  font-size: clamp(2.2rem, 5vw, 5.6rem);
}

h3 {
  font-size: clamp(2rem, 5vw, 2.6rem);
}

h4 {
  font-size: clamp(1.8rem, 1.5vw, 2.4rem);
}

h5 {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
}

h6 {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}

a {
  font-size: auto;
}

p {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

title {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  background-color: #070014;
}

body {
  max-width: 1752px;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  margin-left: auto;
}
