/**
*
* Testing
*
**/
.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 20px;
  transition: width 0.5s ease;
  position: absolute;
  top: 50%;
  right: 40em;
  transform: translateY(-50%);
  z-index: 5000;
  background: transparent;
}
.searchbar:hover {
  width: 60em;
}
@media (max-width: 768px) {
  .searchbar:hover {
    width: 40em;
  }
}
@media (max-width: 1024px) {
  .searchbar {
    right: 5em;
  }
}
@media (max-width: 767px) {
  .searchbar {
    position: absolute;
    top: 8em;
    left: 50%;
    width: 90vw;
    transform: translateX(-50%);
    z-index: 5000;
  }
}
.searchbar__icon {
  flex: 1 1 2em;
}
.searchbar input {
  visibility: hidden;
  flex: 0 1 50em;
  border: none;
  background: transparent;
  color: #828282;
  width: 92%;
  height: 100%;
  border-radius: 20px;
  outline-style: none;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 0;
  padding: 0.5em;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .searchbar input {
    font-size: 1.2rem;
  }
}
.searchbar .fas {
  color: #828282;
  padding: 0.5em;
  font-size: 20px;
  font-weight: 600;
}
.searchbar .fa-times {
  cursor: pointer;
}
.searchbar.active {
  background: white;
}

.navbar {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar__left {
  flex: 0.5;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar__left--logo {
  width: 8.2rem;
  height: 100%;
  padding-top: 0.5em;
}
@media (max-width: 426px) {
  .navbar__left--logo {
    width: 5.2rem;
  }
}
.navbar__left--logo img {
  width: 100%;
  height: 100%;
}
.navbar__right {
  flex: 0 1 40em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .navbar__right {
    flex: 0;
  }
}
@media (max-width: 767px) {
  .navbar__right {
    flex: 0;
  }
}
.navbar__right--navbar {
  flex: 1;
  display: block;
}
@media (max-width: 1024px) {
  .navbar__right--navbar {
    display: none;
  }
}
.navbar__right--navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar__right--navbar ul li {
  list-style: none;
}
.navbar__right--navbar ul li a {
  text-decoration: none;
  color: #828282;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.burger {
  display: block;
  padding: 0.5em;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .burger {
    display: none;
  }
}
.burger .fas {
  font-size: 2.4rem;
  color: #828282;
}

.menu {
  position: fixed;
  top: 8vh;
  right: -1000px;
  width: 15em;
  height: 20em;
  background: #070014;
  display: block;
  transition: right 0.5s ease;
}
@media (min-width: 1025px) {
  .menu {
    display: none;
  }
}
.menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 1em;
  transform: translateX(0px);
  transition: transform 0.3s ease;
}
.menu ul li:hover {
  transform: translateX(10px);
}
.menu ul li:hover a {
  font-weight: 600;
}
.menu ul li a {
  text-decoration: none;
  color: #828282;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.menu.active {
  right: 0;
  transition: right 0.5s ease;
  z-index: 5000;
}

.search-window {
  position: absolute;
  top: 4rem;
  left: 0;
  background: #19181b;
  width: 100%;
  min-height: 20em;
  padding: 0 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5000;
  overflow-y: hidden;
}
.search-window__top-line {
  width: 70%;
  margin: auto;
  border: 0.5px solid #828282;
}
.search-window__header {
  padding: 2em;
  background: inherit;
}
.search-window__header h2 {
  text-align: center;
  font-size: 2rem;
  color: #828282;
  letter-spacing: 0.5px;
}
.search-window__wrapper {
  width: 100%;
  max-height: 45em;
  padding: 1em;
  overflow-y: scroll;
}
.search-window__wrapper::-webkit-scrollbar {
  background-color: inherit;
  width: 5px;
}
.search-window__wrapper::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 3px;
}
.search-window__content {
  width: 100%;
  background: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.1s ease;
  border-radius: 10px;
}
.search-window__content:hover {
  background: #0e0e0f;
}
.search-window__content--poster {
  height: 10em;
  flex: 0 0 8em;
}
.search-window__content--poster img {
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}
.search-window__content--details {
  width: 100%;
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1em;
  padding-top: 1em;
}
.search-window__content--details span {
  font-size: 14px;
  margin-bottom: 0.5em;
}
.search-window__content--details .title {
  color: white;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.search-window__content--details .release-date {
  color: #828282;
  font-size: 14px;
}

.search-overlay {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.error-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.error-message span {
  color: white;
  font-size: 16px;
}

header {
  background: transparent;
  padding: 0em 2em;
  transition: all 0.5s ease;
}

main .carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
main .carousel .alice-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
@media (max-width: 1024px) {
  main .carousel .alice-carousel__wrapper {
    height: 100vh;
  }
}
@media (max-width: 426px) {
  main .carousel .alice-carousel__wrapper {
    height: 60vh;
    width: 100vw;
  }
}
main .carousel .alice-carousel::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(180deg, black, transparent 350px);
}
main .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h5,
h6,
a,
p,
title {
  font-family: "Montserrat", sans-serif;
}

h4,
h3 {
  font-family: "Montserrat", sans-serif;
  color: auto;
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: clamp(4rem, 5vw, 7.2rem);
}

h2 {
  font-size: clamp(2.4rem, 5vw, 5.6rem);
}

h3 {
  font-size: clamp(2.8rem, 5vw, 3rem);
}

h4 {
  font-size: clamp(1.8rem, 1.5vw, 2.4rem);
}

h5 {
  font-size: clamp(1.6rem, 1.5vw, 1.8rem);
}

h6 {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

a {
  font-size: auto;
}

p {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

title {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  background-color: #070014;
}

body {
  max-width: 1752px;
  font-family: "Montserrat", sans-serif;
  margin-right: auto;
  margin-left: auto;
}
