@use "../abstracts/" as *;

.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5000;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(
      180deg,
      $background_color,
      transparent 250px
    );
  }

  .swiper-wrapper {
    position: fixed !important;

    @include media("<=SMdesktop") {
      height: 100vh;
    }

    @include media("<=phoneL") {
      height: 60vh;
      width: 100vw;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
