@use "../abstracts/" as *;

.carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5000;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 5;
    background: $background_color;
    opacity: 0.3;
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(
      180deg,
      $background_color,
      transparent 250px
    );

    @include media("<=phoneL") {
      background-image: linear-gradient(
        180deg,
        $background_color,
        transparent 150px
      );
    }
  }

  .swiper-wrapper {
    // position: fixed !important;
    // top: 0;
    // left: 0;

    @include media("<=tablet") {
      height: 60vh;
    }

    @include media("<=phoneL") {
      height: 60vh;
      width: 100vw;
    }
  }

  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
}
