@use '../abstracts' as *;

.cards {
  background: $background_color;
  min-height: 100vh;
  width: 100%;
  @include flex(column, flex-start, center);
  padding: 2em;
  position: relative;

  &__wrapper {
    padding: 2em 4em;
    width: 100%;
    min-height: 50em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 2em;

    @include media("<=phoneL") {
      grid-template-columns: repeat(2, minmax(10em, 1fr));
    }
  }

  .top-left {
    position: absolute;
    top: -5em;
    left: 0;
    width: 5em;
    height: 5em;
    background: $background_color;
    mask-image: radial-gradient(circle at 5em 0em, transparent 5em, #000 0);
    object-fit: cover;
  }

  .top-right {
    position: absolute;
    top: -5em;
    right: 0;
    width: 5em;
    height: 5em;
    background: $background_color;
    mask-image: radial-gradient(circle at 0em 0em, transparent 5em, #000 0);
    object-fit: cover;
  }

  .loadMore-btn {
    border: none;
    width: 10em;
    padding: 1em 0.5em;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px;
    background: linear-gradient(180deg, $logo_color-1, $logo_color-2);
    margin-top: 1.5em;
    cursor: pointer;
  }
}
