@use "../abstracts" as *;

.genres {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  left: 0;
  top: -5em;
  padding: 1em 4em;
  @include flex(column, center, center);
  overflow: hidden;
  background: $background_color;
  z-index: 4000;

  &.open {
    transform: translateY(-75px);

    @include media("<=tablet") {
      transform: translateY(-120px);
    }

    @include media("<=phoneL") {
      transform: translateY(-250px);
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 1em;
    width: 100%;
    overflow: hidden;
    height: 2em;

    @include media("<=SMdesktop") {
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }

    @include media("<=phoneL") {
      grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    }

    @include media("<phone") {
      display: flex;
      @include flex(row, center, center);
      flex-wrap: wrap;
    }

    &.active {
      height: 100%;
    }
  }

  &__genre {
    cursor: pointer;
    color: $link_text_color;
    padding: 0.5em;
    //overflow: hidden;
    @include flex(row, center, center);
    min-height: 2em;
    text-align: center;
    text-decoration: none;

    h5 {
      font-weight: 500;
    }
  }

  .fas {
    font-size: 2rem;
    @include gradientColor(180deg);
    margin: 1rem 0 0 0;
    cursor: pointer;
  }
}
