@use "../abstracts" as *;

.genres {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  left: 0;
  top: -7em;
  padding: 2em 4em 0em 4em;
  @include flex(column, center, center);
  overflow: hidden;
  background: $background_color;
  z-index: 1;

  @include media("<=tablet") {
    top: -10em;
    min-height: 11em;
  }

  @include media("<=phoneL") {
    top: -8em;
    min-height: 9em;
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 1em;
    width: 100%;
    overflow: hidden;

    @include media("<=SMdesktop") {
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }

    @include media("<=phoneL") {
      grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    }

    @include media("<phone") {
      display: flex;
      @include flex(row, center, center);
      flex-wrap: wrap;
    }
  }

  &__genre {
    color: $link_text_color;
    padding: 0.5em;
    //overflow: hidden;
    @include flex(row, center, center);
    min-height: 2em;
    text-align: center;
    text-decoration: none;

    h5 {
      font-weight: 500;
    }
  }

  .arrow-down {
    width: 30px;
    height: 30px;
    margin: 1rem 0 0 0;
    background: $background_color;
    border: none;
    cursor: pointer;
  }

  .fas {
    font-size: 2rem;
    @include gradientColor(180deg);
    cursor: pointer;
  }
}
