@use "../abstracts/" as *;

.hero {
  min-height: 90vh;
  @include flex(column, center, center);
  position: relative;
  z-index: -5000;

  @include media("<=desktop") {
    min-height: 60vh;
  }

  @include media("<=SMdesktop") {
    min-height: 55vh;
  }

  /* iPad Pro */
  @media screen and (min-width: 1024px) and (min-height: 1366px) {
    min-height: 28vh;
  }

  /* iPad Air */
  @media screen and (min-width: 820px) and (min-height: 1180px) {
    min-height: 25vh;
  }

  @include media("<=tablet") {
    @include flex(column, flex-start, center);
    min-height: 45vh;
  }

  &__wrapper {
    max-width: 60em;
    @include flex(column, center, center);
    position: relative;

    @include media("<=tablet") {
      margin-top: 10vh;
    }

    h1 {
      @include gradientColor(180deg);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.5px;
      opacity: 0;
      transition: opacity 1s ease 1.5s;

      &.active {
        opacity: 1;
      }
    }

    h2 {
      color: $hover_text_color;
      font-weight: 600;
      letter-spacing: 1.5px;
    }

    .from-left {
      position: relative;
      top: 0;
      left: -10000px;
      margin-right: 2rem;
    }

    .from-top {
      position: relative;
      top: -10000px;
    }

    .from-right {
      position: relative;
      top: 0;
      right: -10000px;
      margin-left: 2rem;
    }
  }
}
