@use '../abstracts/' as *;

.hero {
  min-height: 90vh;
  @include flex(column, center, center);
  position: relative;

  &__wrapper {
    width: 60em;
    @include flex(column, center, center);
    position: relative;

    @include media("<=tablet") {
      width: 45em;
    }

    h1 {
      background: linear-gradient(180deg, $logo_color-1, $logo_color-2);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.5px;
      opacity: 0;
      transition: opacity 1s ease 1.5s;

      &.active {
        opacity: 1;
      }
    }

    h2 {
      color: white;
      font-weight: 600;
      letter-spacing: 1.5px;
    }

    .from-left {
      position: relative;
      top: 0;
      left: -10000px;
      margin-right: 2rem;
    }

    .from-top {
      position: relative;
      top: -10000px;
    }

    .from-right {
      position: relative;
      top: 0;
      right: -10000px;
      margin-left: 2rem;
    }
  }
}
