@use "../abstracts" as *;

.burger {
  cursor: pointer;
  color: $hover_text_color;

  @include media(">SMdesktop") {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: -1000px;
  background: $background_color;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: block;
  transition: right 0.5s ease;
  padding: 0 2em 2em;

  @include media(">SMdesktop") {
    display: none;
  }

  ul {
    @include flex(column, space-around, center);

    li {
      list-style: none;
      width: 100%;
      padding: 1em;
      @include flex(row, null, center);

      a {
        text-decoration: none;
        color: $link_text_color;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        @include flex(row, center, center);
        cursor: pointer;
        font-weight: 600;
        margin-left: 1em;
        transform: translateX(0px);
        transition: transform 0.3s ease;

        &:hover {
          transform: translateX(10px);
        }
      }

      .discover-btn {
        border: none;
        background: none;
        color: $link_text_color;
        margin-left: 1em;
        font-size: 1.6rem;
        letter-spacing: 1.5px;
        font-weight: 600;
        @include flex(row, center, center);
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  &.active {
    right: 0;
    transition: right 0.5s ease;
    z-index: 6000;
  }
}
