@use '../abstracts' as *;

.scroll-up {
  position: fixed;
  bottom: 80px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5000;
  border: none;
  background: linear-gradient(180deg, $logo_color-1, $logo_color-2);

  .fa {
    font-size: 2rem;
    color: $background_color;
  }

  &:hover {
    background: linear-gradient(180deg, $logo_color-1, $logo_color-2);
  }
}
